body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 50px;
}

input[type=text] {
    width: 30%;
    padding: 12px 20px;
    margin: 25px 10px;
    box-sizing: border-box;
    border: 2px solid blue;
    border-radius: 20px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    text-align: center;
    width: 34px;
    border-radius: 15px;
}

.square:focus {
    outline: none;
}

.center-input
{
    display: table;
    margin: 50px auto;
}

.center-board
{
    display: table;
    margin: 0 auto;
}

.text-center
{
    text-align: center;
}
